/*
	Styles for CSS of David Xu Assignment_Bootstrap
*/

/* Global resets */
* {box-sizing: border-box; margin: 0; padding: 0;}
body {font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif; color: #424242; line-height: 1.4;}

/* Fonts */
h1 {
  font-family: "rooney-web", 'AmericanTypewriter', Rockwell, serif;
  font-size: 2.5em;
  font-weight: bold;
}

.container-fluid {
  margin: 0em auto;
  /* max-width: 1630px; */
  background-color: black;
  /* text-align: center; */
}

/* COLORS: 
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS goes here */

.home-page-1 row{
  background-color: black;
  /* width: 800px;
  height: 40px; */
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 80px;
  margin-bottom: 10px;
  display: inline;
  height: 800px; 
 /* border: 2px solid black;
  color: white;
  text-align: center; */
}

.nortsea row{
	display: inline;
	/* height: 100px;  */
	/* width: 100%; */
}

.col-md-2{
	background-color: white;
	width: 400px;
	height: 100px; 
	margin-left: 0px;
	margin-right: 10px;
	font-weight: bold;
	text-transform: uppercase;
	/* margin-top: 80px;
	margin-bottom: 10px; */
}

.col-md-2 > h1{
	margin-left: 100px;
	text-align: left;
	font: 10px;
	text-transform: uppercase;
}

.col-md-2 > p{
	text-align: center;
	font: 5px;
	width: 400px;
	letter-spacing: 15px;
	text-transform: uppercase;
	color: black;
}

.col-md-2 .NORT-color{
	color: orange;
	text-transform: uppercase;
}

.col-md-10, .col-md-10 row{
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	/* margin-top: 80px;
	margin-bottom: 10px; */
	height: 100px;
    display: inline;
	float: left;
	margin-left: 200px;
	margin-top: -60px;
}

#Services, #Products{
 color: black;
}

.nav1 li, .nav2 li
{
	float: left;
	display: inline;
	padding: 20px;
}

.login, .lang{
	width: 60px;
	border: 1px solid white;
	text-color: light grey;
	font-weight: bold;
  }

.home-page-you row {
	display: inline;
}

.col-md-10 h1{
	font-size: 20px;
}
.col-md-10 p{
	font-size: 30px;
	font-weight: bolder;
}

.EXPLORE-IT{
	border: 2px;
}

.col-md-10 .slides{
	mrgin-left: 0px;
}


.home-page-you row .col-md-2{
	height: auto;
}




.home-page-2 row{
	background-color: white;
	width: 280px;
	height: 40px;
	margin-left: 180px;
	margin-bottom: 5px;
	/* border: 2px solid black; */
	/* text-align: center; */
  }

.weather, .gallery, .tour{
	margin-right: 0px;
}












.midBox{
  background-color: white;
  width: 280px;
  height: 200px;
  text-align: center;
  margin-left: 180px;
  border: 2px solid black;
}

.midTopBox{
  background-color: red;
  width: 280px;
  height: 12px;
  border: 2px solid black;
}

.midMidBox{
  width: 280px;
  height: 150px;
}

.midBox > p{
  margin-left: -140px;
  color: blue;
  text-style: italics;
  font-weight: bold;
}

.textRed{
color: red;
}

.dollar{
  background: white;
  margin-top: 10px;
  margin-right: 30px;
  margin-left: 20px;
  margin-bottom: auto;
  width: 100px;
  height: 50px;
  float: left;
  position: relative;
  border: 2px solid black;
  text-color: light grey;
  font-weight: bold;
}

.giveButton{
  background: green;
  margin-top: 10px;
  width: 100px;
  height: 50px;
  margin-right: 20px;
  float: left;
  position: relative;
  border: 2px solid black;
  font-weight: bold;
  color: white;
}

.botmBoxLeft, .botmBoxRight{
  margin-top: 30px;
  width: 130px;
  height: 30px;
  margin-right: -160px;
  float: left;
  margin-left: 180px;
  border: 2px solid black;
  font-weight: bold;
  color: light grey;
 }
 