/*
	Styles for CSS of David Xu Assignment_Bootstrap
*/

/* Global resets */
* {box-sizing: border-box; margin: 0; padding: 0;}
body {font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif; color: #424242; line-height: 1.4;}

/* Fonts */
h1 {
  font-family: "rooney-web", 'AmericanTypewriter', Rockwell, serif;
  font-size: 2.5em;
  font-weight: bold;
}

/* COLORS: 
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS goes here */

.container-fluid {
  margin: 4em 2em auto 2em;
  background-color: grey;
}

 .navbar{
  display: inline;
 }

.NORT-color h1{
  /* color: black; */
  text-align: left;
  letter-spacing: 10px;
  font: 15px;
  }

.NORT-color{
color: orange;
letter-spacing: 10px;
font: 15px;
}

.NORT-color > p{
	text-align: center;
	font: 15px;
	width: 400px;
	letter-spacing: 50px;
	text-transform: uppercase;
	color: black;
}

.nav1 li, .nav2 li
{
	float: left;
	display: inline;
	padding: 20px;
}

.login, .lang{
	width: 60px;
	border: 1px solid white;
	/* text-color: light grey; */
	font-weight: bold;
  }

  
#Services, #Products{
  color: black;
 }

 
.home-page-1 row{
  background-color: black;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 80px;
  margin-bottom: 10px;
  display: inline;
  height: 800px; 
 /* border: 2px solid black; */
}

.col-md-3{
	background-color: white;
	width: 400px;
	height: 100px; 
	margin-left: 0px;
	margin-right: 10px;
	font-weight: bold;
	text-transform: uppercase;
	/* margin-top: 80px;
	margin-bottom: 10px; */
}

.col-md-10, .col-md-10 row{
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	/* margin-top: 80px;
	margin-bottom: 10px; */
	height: 100px;
    display: inline;
	float: left;
	margin-left: 200px;
	margin-top: -60px;
}


.home-page-you row p{
  display: inline;
  font: 30px;
}

/* .col-md-10 h1{
	font-size: 20px;
}
.col-md-10 p{
	font-size: 30px;
	font-weight: bolder;
}

.EXPLORE-IT{
	border: 2px;
}

.col-md-10 .slides{
	mrgin-left: 0px;
} 


.home-page-you row .col-md-2{
	height: auto;
}

*/


.home-page-2 row{
	background-color: white;
	width: 280px;
	height: 40px;
	margin-left: 180px;
	margin-bottom: 5px;
	/* border: 2px solid black; */
	/* text-align: center; */
  }

.weather, .gallery, .tour{
	margin-right: 0px;
}

.home-page-2 row{
	background: white;
}